<mat-card>
  <mat-card-content>
    <h2>Please select which census field you'd like to visualize</h2>
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab *ngFor="let param of params; let i = index" [label]="param.label" (click)="onTabClick(param.queryCode)">
        <valueTable *ngIf="i === selectedIndex" [queryCode]="param.queryCode"></valueTable>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
