<div>
  <div *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card *ngIf="totalCount">
    <p [innerHTML]="'The total number of values is: ' + totalCount"></p>
    <p *ngIf="avgAge" [innerHTML]="'The average age is: ' + avgAge"></p>
  </mat-card>

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Number Column -->
    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.count }}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.value }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="totalCount" [pageSize]="100">
  </mat-paginator>
</div>
